<html>
    
    <head>
        <title>My prescriptions</title>
    </head>
    <body>
        <h1> List of my prescriptions </h1>

        
        <table>
           
            <tr>
                <th>Patient Name</th>
                <th>Prescription Date</th>
            </tr>
            {% for pre in prescription_list %}
            <tr>
                <td><a href="show_prescription/{{pre.id}}">  {{pre.patient_username}}</a></td>
                <td>{{pre.date}}</td>
                <td align="right"><a href="update_prescription/{{pre.id}}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

