{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepstyle.css' %}">
    <link rel="stylesheet" href="{% static 'searchprescription.css' %}">
    <title>Buscador de Prescripciones</title>
</head>
    <body>
    <div  class="content">
     <div class="banner">
         <div class="navbar">
            <img src="{% static 'healcarelogo.png' %}" class="logo">
            <ul>
                <li><a href='{% url "home" %}'>Inicio</a></li>
                <li><a href='{% url "profile" %}'>Perfil</a></li>
                <li><a href='{% url "logout" %}'>Cerrar Sesión</a></li>
            </ul> 
        </div>

            <h1>BUSCA PRESCRIPCIONES </h1>
            <P> Ingresa el usuario del paciente para encontrar sus prescripciones </p>
    <div>
 
    <form action = "" method = "post" class="container">
        {% csrf_token %}
            <div>
                <div style="font-size: 15px; font-family: sans-serif" ><p>Usuario del Paciente</p></div>
                <div class="espacio-abajo"> {{ prescriptionsearch_form.patient_username }} </div>
            
           <div class="botonera">
            <button type="button" style="padding-right: 2rem;" onclick="location.href='{% url 'profile' %}'">REGRESAR</button>
            <button type = "submit">BUSCAR</button>
                </div>
           </div>
    </form>

{% if empty_search %}
<h3 class="text-danger"> No se ha encontrado o buscado nada aun </h3>
{% else %}

        <div class="container bg-light mt-5">
            <table class="table table-striped">
             <thead>
             <tr>
                <th> Nombre del Paciente </th>
                <th> Fecha de la Prescripción</th>
                 <th> Nombre del Doctor</th>
            </tr>
            </thead>
    {% for newprescription in prescription_list %}
    <tr>
        <td><a href="profilepage/show_prescription/{{newprescription.id}}"> {{newprescription.patient_username}}</a></td>
        <td> {{newprescription.date}}</td>
        <td> {{newprescription.user}}</td>

    </tr>
    {%endfor%}
     </table>
{% endif%}

</div>
<!--Inicio de chatBot-->
         <div id="flotante">	
                                        <button class="open-button btn btn-primary btn-lg" onclick=openForm()>CHATBOT</button>	
								<div class="chat-popup" id="chatbotpanel" style="position:relative; width:300px; height:400px;">
									<button type="button" class="btn_cancel bg-danger" onclick=closeForm()><i class="fa-solid fa-circle-xmark"></i>X</button>
                                    <iframe src='https://webchat.botframework.com/embed/dsccoglanguage-botheverywhere?s=eSe1onPlXi0.KOtZ9czdBnaKj_6wYzoLba2ixAai_HIteHSvIg_8Eqo'  width="100%" height="100%"></iframe>                

                
								 </div><!--Cierre de Chatbot-->
                                  <script src="/static/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>