{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'homepstyle.css' %}">
      <link rel="stylesheet" href="{% static 'updateprescription.css' %}">
    <title>Nueva Prescipción Portal</title>
</head>
<body>
 <div class="content">
    <div class="banner">
        <div class="navbar">
            <img src="{% static 'healcarelogo.png' %}" class="logo">
            <ul>
                <li><a href='{% url "home" %}'>Inicio</a></li>
                 <li><a href='{% url "profile" %}'>Perfil</a></li>
            </ul>    
        </div>

        
            <h1>GENERA UNA NUEVA PRESCRIPCION </h1>
            <P> Ingresa la informacion de tu paciente</p>
        <div>

        <form action = "" method = "post" class="container">
    {% csrf_token %}

    <div style="display: none;">
        {{form.date.label_tag}}
        {{form.date}}
    </div> 

    <div style="display: none;">
        {{form.user.label_tag}}
        {{form.user}}
    </div> 

    <div class="form-field">
    {{form.patient_username.label_tag}}
    {{form.patient_username}}
    </div> 

    <div class="form-field">
        {{form.weight.label_tag}}
        {{form.weight}}
    </div> 

    <div class="form-field">
        {{form.symptoms.label_tag}}
        {{form.symptoms}}
    </div> 

    <div class="form-field">
        {{form.prescription.label_tag}}
        {{form.prescription}}
    </div> 




    <input type="submit" value="Actualizar" class = "btn btn-primary">
    <!--Inicio de chatBot-->
         <div id="flotante">	
                                        <a class="open-button btn btn-primary btn-lg" onclick=openForm()>CHATBOT</a>	
								<div class="chat-popup" id="chatbotpanel" style="position:relative; width:300px; height:400px;">
									<a type="button" class="btn_cancel bg-danger" onclick=closeForm()><i class="fa-solid fa-circle-xmark"></i>X</a>
                                    <iframe src='https://webchat.botframework.com/embed/dsccoglanguage-botheverywhere?s=eSe1onPlXi0.KOtZ9czdBnaKj_6wYzoLba2ixAai_HIteHSvIg_8Eqo'  width="100%" height="100%"></iframe>                

                
								 </div><!--Cierre de Chatbot-->
    
                                  <script src="/static/app.js"></script>
</body>
</html>