<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Search Prescriptions </title>
</head>
<body>
<h1 style="font-size: 20px; font-family: sans-serif; color:navy;"> Prescriptions search</h1>

<form action = "" method = "post">
    {% csrf_token %}
    <table>
        <tr>
            <td style="font-size: 15px; font-family: sans-serif" >Patient username</td>
            <td> {{ prescriptionsearch_form.patient_username }} </td>
        </tr>
    </table>
    <br>
    <button type = "submit">Search</button>
</form>
<br>

{% if empty_search %}
<h3 style="font-size: 12px; font-family: sans-serif; color:red;"> No se ha encontrado o buscado nada aun </h3>
{% else %}

<table>
    <tr>
        <th style = "font-family: sans-serif;" > Nombre del articulo </th>
        <th style = "font-family: sans-serif;" > SKU del articulo </th>
    </tr>
    {% for newprescription in prescription_list %}
    <tr>
        <td> {{newprescription.patient_username}}</td>
        <td> {{newprescription.date}}</td>
    </tr>
    {%endfor%}
</table>
{% endif%}
<br>
<a style = "font-family: sans-serif; font-size: smaller;" href="{% url 'myprescriptions' %}"> Regresar a Productos </a>
</body>
</html>