<div class="card">
    <div class="card-header">
      Prescription
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ Newprescription }}</h5>
      <p class="card-text">
          <ul>
  
      <li>{{ newprescription.date }}</li>
      <li>{{ newprescription.doctor_username }}</li>
      <li>{{ newprescription.patient_username }}</li>
      <li>{{ newprescription.weight }}</li>
      <li>{{ newprescription.symptoms }}</li>
      <li>{{ newprescription.prescription }}</li>

  
      </ul>
      <br>

  
  
  
      </p>
      <br/>
    </div>
    <br/><br/>
  </div>