{% load static %}
<html>
<head>
    <title> Health Care Home</title>
    <link rel="stylesheet" href="{% static 'homepstyle.css' %}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{% static 'healcarelogo.png' %}" alt="logo">
            <ul>
                <li><a href="../profilepage">Perfil</a></li>
            </ul>    
        </div>

        <div class="content">
            <h1>BIENVENIDO A HEALTHCARE WEB APP </h1>
            <P>Healthcare Web App es la solucion para tener a la mano a cualquier hora y cualquier lugar tu informacion medica como paciente o como doctor </p>
            <div>
            
                <button type="button" onclick="location.href='{% url 'register' %}'"><span></span>REGISTER</button>
                <button type="button" onclick="location.href='{% url 'login' %}'"><span></span>LOGIN</button>
            </div>    
        </div>


</body>
</html>