{% load static %}
<!DOCTYPE>
<html>
<head>
    <title> Health Care Home</title>
    <link rel="stylesheet" href="{% static 'homepstyle.css' %}">
</head>
<body>
<div class="fondo-1">
<form method="POST" action="" class="container">
    {% csrf_token %}
        <h3>Register Profile</h3>

        <div class="form-field">
            {{form.first_name.errors}}
            {{form.first_name.label_tag}}
            {{form.first_name}}
        </div>
        <div class="form-field">
            {{form.last_name.errors}}
            {{form.last_name.label_tag}}
            {{form.last_name}}
        </div>
        <div class="form-field">
            {{form.username.errors}}
            {{form.username.label_tag}}
            {{form.username}}
        </div>
        <div class="form-field">
            {{form.email.errors}}
            {{form.email.label_tag}}
            {{form.email}}
        </div>
        <div class="form-field">
            {{profile_form.contact_info.label_tag}}
            {{profile_form.contact_info}}
        </div>
        <div class="form-field">
            {{profile_form.user_type.label_tag}}
            {{profile_form.user_type}}
        </div>
        <div class="form-field">
            {{form.password1.errors}}
            {{form.password1.label_tag}}
            {{form.password1}}
        </div>
        <div class="form-field">
            {{form.password2.errors}}
            {{form.password2.label_tag}}
            {{form.password2}}
        </div>

    <hr>
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Create Profile">
    <a class="boton-1" href="{% url 'home' %}"><span></span>regresar</a>
    <br>
        {{form.non_field_errors}}
    <p>¿Ya tienes una cuenta? <a class="boton-1" href="{% url 'login' %}">Login</a></p>
</form>
</div>
</body>
</html>